.App {
  background-image: linear-gradient(#e78ea0, #a64453);
  height: 100vh;
}

.LoginView {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form {
  background: #393f59;
  color: #fff;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0 6px 10px 6px rgba(0, 0, 0, 0.2);
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 2rem 6rem;
}

.login-title {
  margin: 0 0 2rem;
  font-weight: 700;
  font-size: 3.2rem;
  text-transform: uppercase;
}

.social-button {
  font-size: 2rem;
  border-radius: 5px;
  border: none;
  margin-bottom: 2rem;
  padding: 0;
  display: flex;
  cursor: pointer;
  transition: all 0.2s;
}

.social-button:focus {
  outline: 0;
}

.facebook {
  color: #2a3e6a;
}

.google {
  color: #4285f4;
}

.facebook:hover,
.facebook:focus {
  background: #2a3e6a;
  color: #fff;
}

.google:hover,
.google:focus {
  background: #4285f4;
  color: #fff;
}

.social-button-square {
  width: 43px;
  height: 43px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.facebook .social-button-square {
  background: #2a3e6a;
}

.google .social-button-square {
  background: #4285f4;
}

.social-button-text {
  padding: 1rem;
  margin: auto;
  font-weight: 700;
}

.or {
  font-weight: 300;
}

.form-group {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.form-label {
  font-weight: 700;
  margin-bottom: 0.25rem;
}

.form-input {
  width: 100%;
  font-size: inherit;
  padding: 1.5rem 0.75rem;
  border: 3px transparent solid;
  border-radius: 5px;
}

.form-input:focus {
  border: 3px #e78ea0 solid;
  /* outline-offset: -2px; */
  outline: 0;
}

.disclaimer {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  cursor: pointer;
  font-weight: 300;
}

.form-submit-button {
  font-size: inherit;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  background: #d27789;
  padding: 1.5rem;
  margin-bottom: 2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s;
  width: 50%;
  align-self: center;
}

.form-submit-button:hover,
.form-submit-button:focus {
  background: #e78ea0;
  outline: 0;
}

@media (max-width: 600px) {
  .login-form {
    padding: 1rem 2rem;
    height: 100vh;
    justify-content: center;
    border-radius: 0;
  }
  .form-submit-button {
    width: 100%;
  }
}
